# Node / Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.env

# Java / Backend
backend/target/
backend/.idea/
backend/.settings/
backend/.classpath
backend/.project
backend/*.log

# IDE & OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
uploads/
